<ul class="card">
 <li class="card-id">{{_id}}</li>
 <li class="question">{{question}}</li>
 <li class="answer">{{answer}}</li>
 <li class="difficulty">{{difficulty}}</li>
 <li class="tags">{{tags}}</li>
</ul>
